<%= form_tag({action: :bulk_approve}, method: :patch) do -%>
<%
  url_params = params.dup
  url_params.delete(:project_id) unless url_params[:project].present?
%>
<%= hidden_field_tag 'back_url', url_for(url_params) %>
<div class="autoscroll">

<table class="list time-entries">
  <thead>
    <tr>
      <th class="checkbox hide-when-print">
        <%= check_box_tag 'check_all', '', false, :class => 'toggle-selection',
          :title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}" %>
      </th>
      <% @query.inline_columns.each do |column| %>
        <%= column_header(column) %>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% entries.each do |entry| -%>
    <tr class="time-entry <%= cycle("odd", "even") %> hascontextmenu">
      <td class="checkbox hide-when-print"><%= check_box_tag("ids[]", entry.id, false, :id => nil) %></td>
      <% @query.inline_columns.each do |column| %>
      <%= content_tag('td', column_content(column, entry), :class => column.css_classes) %>
      <% end %>
    </tr>
  <% end -%>
  </tbody>
  </table>

  <p>
    <%= submit_tag l(:button_approve), :class => 'button-small', :name => 'approve' %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= submit_tag l(:button_reject), :class => 'button-small', :name => 'reject' %>
  </p>

</div>
<% end -%>

<%= javascript_tag do %>
function toggleRowsSelection(el) {
  var checked = $(this).prop('checked');
  var boxes = $(this).parents('table').find('input[name=ids\\[\\]]');
  boxes.prop('checked', checked).parents('tr').toggleClass('context-menu-selection', checked);
}

$(document).ready(function(){
  $('input[type=checkbox].toggle-selection').on('change', toggleRowsSelection);
});
<% end %>
